html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background: #EFEFEF url('../img/maxresdefault.jpg') no-repeat fixed center 0;
    background-size: cover;
}

h1 {
    font-size: 1.5em;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

img {
    max-width: 100%;
}

header {
    display: flex;
    flex-flow: row nowrap;

    img {
        max-height: 60px;
    }
}

.campaign-title {
    padding: $half-gutter;
    text-align: center;
    background-color: #FF0000;
    color: #FFF;

    section {
        max-width: 768px;
        margin: 0 auto;
    }
}

.container {
    display: flex;
    flex-flow: column nowrap;
    max-width: 992px;
    margin: 0 auto;
    padding: $half-gutter;
}

.main-wrapper,
.sidebar-wrapper {
    flex: 1 1 50%;
}

main,
aside {
    padding: $half-gutter;
}

main {
    background-color: transparent;
}

aside {
    background-color: #FFF;
    background-color: rgba(255, 255, 255, .8);

    input {
        display: block;
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
    }

    article {
        background: #FFF;
        padding: $half-gutter;
    }
}

footer {
    display: none;
}

@media screen and (min-width: 768px) {
    h1 {
        font-size: 2.8em;
    }

    .campaign-title {
        padding: $full-gutter;
    }

    .container {
        flex-flow: row wrap;
        padding: $full-gutter $full-gutter 75px $full-gutter;
    }

    main,
    aside {
        padding: $full-gutter;
    }

    aside article {
        padding: $full-gutter;
    }

    footer {
        display: flex;
        position: fixed;
        left: 0;
        bottom: 0;
        background: rgba(0, 0, 0, .8);
        width: 100%;
        padding: $full-gutter;
        color: #FFF;
    }
}